<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/fontawesome.min.jss">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Ways to Greet</title>
</head>
<body class="body-main">
  <h1 class="heading-mains">Ways to Greet</h1>
  <section>
    <p class="subtitle">Worried about shaking hands with someone over coronavirus outbreak? Dont you worry !!<br/> Here are multiple ways you can greet and welcome people</p>
    <form id="topping-form">
      <input type="text" placeholder="Enter your Greeting" name="topping" />
      <button class="button-custom"><span class="fas fa-check"></span></button>
    </form>
    <ul id="toppings-list">

    </ul>
    
  </section>
  <script src="client.js"></script>
</body>
</html>